html, body, #content, #sidebar, #calendar {
	height: 100%;
}

#content {
	margin-bottom: 0px;
}

#sidebar {
	background-color: #90A4AE;
	overflow-y: hidden;
}
#calendar {
	overflow-y:scroll;
	padding:0;
}

#calendar table thead,
#calendar table th {
	background-color: #F5F2F0;
	width:10px;
}

#calendar tbody td {
	border-left: 1px solid #D0D0D0;
	height: 80px;
	width:80px;
	transition: background-color 0.125s;
}

#calendar tbody td:hover {
	background-color: #DDD;
}

#calendar tbody td p {
	margin: 0;
}

.timeslot-course-name {
	font-size: 1em;
}

.timeslot-course-info {
	font-size: 0.8em;
}

.timeslot-error {
	background-color: #E57373;
}

.timeslot-temp {
	background-color: #FFF176;
}
