html, body, #content, #sidebar, #calendar {
	height: 100%;
}

#content {
	margin-bottom: 0px;
}
#sidebar {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#sidebar > ul {
    padding:0;
    margin:0;
}

#sidebar > .search-results {
    overflow: auto;
    height:80%;
}

#calendar {
	display:block;
	height:100%;
	overflow:auto;
	padding-left:2px;
	padding-right:0;
}
#calendar table thead,
#calendar table th {
	background-color: #F5F2F0;
	width:10px;
}
#calendar tbody td {
	border-left: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	height: 80px;
	width:80px;
	transition: background-color 0.125s;
}
#calendar tbody td:hover {
	background-color: #DDD;
}
#calendar tbody td p {
	margin: 0;
}
#calendar table thead tr td {
	text-align:center;
	vertical-align: middle;
}
#calendar table thead {
	font-weight:bold;
}
.modal-action {
	color:#f5f5f5;
}
.filters {
	height:200px;
	overflow:auto;
}
.collapsible-body p {
    margin: 0 !important;
    padding: 5px !important;
}

.search-results ul > li:hover{
	transition: opacity padding-left 0.25s;
	padding-left:5px;
	opacity: 0.8;
}

.search-results ul > li > div {
	padding: 10px 20px;
	line-height: 1.5em;
}

.search-results ul > li:hover{
	transition: opacity padding-left 0.25s;
	padding-left:3px;
	opacity: 0.8;
}
.timeslot-course-name {
	font-size: 1em;
}

.timeslot-course-info {
	font-size: 0.8em;
}

.timeslot-filled {
	background-color: #90CAf9;
}

.timeslot-error {
	background-color: #E57373;
}

.timeslot-temp {
	background-color: #FFF176;
}
